@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;

		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;

		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;

		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;

		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;

		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;

		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 10% 3.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 240 10% 3.9%;
		--foreground: 0 0% 98%;

		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;

		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;

		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;

		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;

		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;

		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;

		--accent: 240 3.7% 15.9%;
		--accent-foreground: 0 0% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;

		--ring: 240 4.9% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* Split pane styles */
@layer base {
	.splitpanes.shadcn .splitpanes__pane {
		background-color: transparent;
	}
	.splitpanes.shadcn .splitpanes__splitter {
		background-color: hsl(var(--primary-foreground));
		box-sizing: border-box;
		position: relative;
		flex-shrink: 0;
	}
	.splitpanes.shadcn .splitpanes__splitter:before,
	.splitpanes.shadcn .splitpanes__splitter:after {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		background-color: rgba(0, 0, 0, 0.15);
		transition: background-color 0.3s;
	}
	.splitpanes.shadcn .splitpanes__splitter:hover:before,
	.splitpanes.shadcn .splitpanes__splitter:hover:after {
		background-color: rgba(0, 0, 0, 0.25);
	}
	.splitpanes.shadcn .splitpanes__splitter:first-child {
		cursor: auto;
	}

	.shadcn.splitpanes .splitpanes .splitpanes__splitter {
		z-index: 1;
	}
	.shadcn.splitpanes--vertical > .splitpanes__splitter,
	.shadcn .splitpanes--vertical > .splitpanes__splitter {
		width: 7px;
		border-left: 1px solid #eee;
		cursor: col-resize;
	}
	.shadcn.splitpanes--vertical > .splitpanes__splitter:before,
	.shadcn.splitpanes--vertical > .splitpanes__splitter:after,
	.shadcn .splitpanes--vertical > .splitpanes__splitter:before,
	.shadcn .splitpanes--vertical > .splitpanes__splitter:after {
		transform: translateY(-50%);
		width: 1px;
		height: 30px;
	}
	.shadcn.splitpanes--vertical > .splitpanes__splitter:before,
	.shadcn .splitpanes--vertical > .splitpanes__splitter:before {
		margin-left: -2px;
	}
	.shadcn.splitpanes--vertical > .splitpanes__splitter:after,
	.shadcn .splitpanes--vertical > .splitpanes__splitter:after {
		margin-left: 1px;
	}
	.shadcn.splitpanes--horizontal > .splitpanes__splitter,
	.shadcn .splitpanes--horizontal > .splitpanes__splitter {
		height: 7px;
		border-top: 1px solid #eee;
		cursor: row-resize;
	}
	.shadcn.splitpanes--horizontal > .splitpanes__splitter:before,
	.shadcn.splitpanes--horizontal > .splitpanes__splitter:after,
	.shadcn .splitpanes--horizontal > .splitpanes__splitter:before,
	.shadcn .splitpanes--horizontal > .splitpanes__splitter:after {
		transform: translateX(-50%);
		width: 30px;
		height: 1px;
	}
	.shadcn.splitpanes--horizontal > .splitpanes__splitter:before,
	.shadcn .splitpanes--horizontal > .splitpanes__splitter:before {
		margin-top: -2px;
	}
	.shadcn.splitpanes--horizontal > .splitpanes__splitter:after,
	.shadcn .splitpanes--horizontal > .splitpanes__splitter:after {
		margin-top: 1px;
	}
}
